
<%- include('include/_header') %>



<div class="container"> <a href="/add_user" type="button">add-user</a> </div>
<div class="container">
				<table class="table table-striped table-hover">
					<thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">gender</th>
      <th scope="col">status</th>
      <th scope="col">action</th>
      <!---<th scope="col">status</th> -->
    </tr>
  </thead>
    <%- include('include/_show')%>
  </table>
	</div>



<%- include('include/_footer')%>

