	
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crud opration by mongoose</title>
  <link href="./css/boot.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/icon.css">
</head>
<body>
  <header>
		   <nav class="navbar navbar-expand-lg bg-dark" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="#" style="color:white;">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color:white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/upload" style="color:white;">upload file</a>
          
        </li>
     	
			      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/loged" style="color:white;">login</a>
        </li>
             <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout" style="color:white;">logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="POST" action="/" novalidate>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>